@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");
@media (min-width: 2000px) and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 24px;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .main header {
    width: 2000px;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  .main header {
    height: 68px;
    padding: 16px;
  }
}
.main header img {
  height: 2rem;
}
.main header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.main header nav i img {
  height: 1.5rem;
  width: 1.5rem;
}
.main header nav .switch {
  margin-left: 0.75rem;
}
.main header nav .switch i img {
  height: 2rem;
  width: 2rem;
}
.main header nav .switch i:first-child img {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0.2rem;
}
.main header nav .switch:hover {
  cursor: pointer;
}

.menu {
  z-index: 2;
  align-self: baseline;
  /*background: linear-gradient(253.36deg, #BDE6F7 -18.33%, #C8DED4 100.44%, #C2D9C9 100.44%);*/
  width: 13rem;
  position: absolute;
  right: 95px;
  top: 30px;
  border-radius: 0.4rem;
  transform: translateY(0px);
  transition: 0.3s;
  transition-delay: 0.3s;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .menu {
    width: 14.625rem;
    border-radius: 0.45rem;
  }
}
@media (min-width: 2000px) and (orientation: landscape) {
  .menu {
    right: calc((100vw - 2000px) / 2 + 95px);
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  .menu {
    right: 90px;
    top: 20px;
  }
}
.menu ul {
  padding: 0.3rem 0;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .menu ul {
    padding: 0.3375rem 0;
  }
}
.menu li {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.75rem 0;
  padding-left: 1rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .menu li {
    font-size: 1.125rem;
    margin: 0.84375rem 0;
    padding-left: 1.125rem;
  }
}
.menu hr {
  border: none;
  width: 2rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .menu hr {
    width: 2.25rem;
  }
}
.menu a {
  color: #000000;
}
.menu a:hover {
  cursor: pointer;
}

#menu {
  cursor: pointer;
}

.mActive {
  opacity: 0;
  transform: translateY(-500px);
  transition-delay: 0.3s;
}

body.dark .menu {
  background: linear-gradient(90deg, #320000 0%, rgba(45, 4, 78, 0.7411764706) 100%);
}
body.dark .menu a {
  color: #C2CAD1;
}
body.dark .menu a:hover {
  cursor: pointer;
  color: #EAA6AB;
}
body.dark .menu hr {
  border-bottom: #EAA6AB 0.125rem solid;
}
@media (min-width: 1640px) and (orientation: landscape) {
  body.dark .menu hr {
    border-bottom: #EAA6AB 0.140625rem solid;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  min-height: calc(100vh - 88px);
}
@media (min-width: 2000px) and (orientation: landscape) {
  main {
    width: 1600px;
  }
}
main .articleLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
@media (max-width: 1023px) and (orientation: landscape) {
  main .articleLeft {
    width: 100%;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  main .articleLeft {
    width: 100%;
  }
}
main .articleLeft .articleLeft div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .articleLeft h2 {
  /*background: linear-gradient(90deg, #F9BFD8 0%, #5932C9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size:400% 400%;*/
  font-weight: 800;
  -webkit-animation: change 4s ease infinite;
  animation: change 4s ease infinite;
  font-size: 3.5rem;
  line-height: 4.2rem;
  padding: 1.05rem 0px;
}
@media (min-width: 1640px) and (orientation: landscape) {
  main .articleLeft h2 {
    font-size: 4.25rem;
    line-height: 5.1rem;
    padding: 1.275rem 0px;
  }
}
@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px) {
  main .articleLeft h2 {
    font-size: 2.25rem;
    line-height: 2.7rem;
    padding: 0.675rem 0px;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  main .articleLeft h2 {
    text-align: center;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  main .articleLeft h2 {
    font-size: 2.25rem;
    line-height: 2.7rem;
    padding: 0.675rem 0px;
  }
}
main .articleLeft h1 {
  /*color: $primary-color;*/
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  main .articleLeft h1 {
    font-size: 1.75rem;
    margin-bottom: 1.75rem;
  }
}
@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px) {
  main .articleLeft h1 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  main .articleLeft h1 {
    text-align: center;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  main .articleLeft h1 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
main .articleLeft .buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1.125rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  main .articleLeft .buttons {
    gap: 1.25rem;
  }
}
@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px) {
  main .articleLeft .buttons {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  main .articleLeft .buttons {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  main .articleLeft .buttons {
    flex-direction: column;
    gap: 1rem;
  }
}
main .articleLeft .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  /*background: linear-gradient(90deg, #EAA6AB 0%, #9BB4F3 100%, #D9D9D9 100%);*/
  font-weight: 700;
  border: none;
  transition: 0.25s;
  font-size: 1.125rem;
  border-radius: 0.675rem;
  width: 13.8375rem;
  height: 2.475rem;
  box-shadow: 0px 0px 0.28125rem 0px rgba(0, 0, 0, 0.25);
}
main .articleLeft .buttons .button:hover {
  cursor: pointer;
  scale: 1.1;
}
@media (min-width: 1640px) and (orientation: landscape) {
  main .articleLeft .buttons .button {
    font-size: 1.25rem;
    border-radius: 0.75rem;
    width: 15.375rem;
    height: 2.75rem;
    box-shadow: 0px 0px 0.3125rem 0px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px) {
  main .articleLeft .buttons .button {
    font-size: 1rem;
    border-radius: 0.6rem;
    width: 12.3rem;
    height: 2.2rem;
    box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  main .articleLeft .buttons .button {
    font-size: 1rem;
    border-radius: 0.6rem;
    width: 12.3rem;
    height: 2.2rem;
    box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.25);
  }
}
main .articleRight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 1023px) and (orientation: landscape) {
  main .articleRight {
    display: none;
  }
}
@media (max-width: 1044px) and (orientation: portrait) {
  main .articleRight {
    display: none;
  }
}
main .articleRight img {
  width: 190px;
  margin-bottom: 1.5rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  main .articleRight img {
    width: 285px;
    margin-bottom: 1.75rem;
  }
}

body.dark .articleLeft h2 {
  background: linear-gradient(90deg, #F9BFD8 0%, #5932C9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}
body.dark .articleLeft h1 {
  background: linear-gradient(180deg, #FFFFFF 0%, #C2CAD1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.dark .buttons .button {
  background: linear-gradient(90deg, #EAA6AB 0%, #9BB4F3 100%, #D9D9D9 100%);
  box-shadow: 0px 0px 0.28125rem 0px rgba(255, 255, 255, 0.25);
}
@media (min-width: 1640px) and (orientation: landscape) {
  body.dark .buttons .button {
    box-shadow: 0px 0px 0.3125rem 0px rgba(255, 255, 255, 0.25);
  }
}

.title {
  padding: 0 5%;
  margin-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title h2 {
  /*background: linear-gradient(270deg, #9BD9F2 15.33%, #F0A5A4 101.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 800;
  background-size: 400% 400%;
  font-size: 1.75rem;
  padding-bottom: 0.875rem;
  -webkit-animation: change 4s ease infinite;
  animation: change 4s ease infinite;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .title h2 {
    font-size: 2.125rem;
    padding-bottom: 1.0625rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .title h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .title h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
.title p {
  font-size: 1.125rem;
  font-weight: 700;
  color: #787D80;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .title p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .title p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .title p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}
@media (min-width: 1640px) and (orientation: landscape) {
  .title {
    margin-bottom: 3rem;
  }
}

.titleCases h2 {
  /*background: linear-gradient(270deg, #9BD9F2 15.33%, #F0A5A4 101.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 800;
  background-size: 400% 400%;
  font-size: 1.75rem;
  padding-bottom: 0.875rem;
  -webkit-animation: change 4s ease infinite;
  animation: change 4s ease infinite;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .titleCases h2 {
    font-size: 2.125rem;
    padding-bottom: 1.0625rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .titleCases h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .titleCases h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
.titleCases p {
  font-size: 1.125rem;
  font-weight: 700;
  color: #787D80;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .titleCases p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .titleCases p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .titleCases p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}

.social h2 {
  /*background: linear-gradient(270deg, #9BD9F2 15.33%, #F0A5A4 101.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 800;
  background-size: 400% 400%;
  font-size: 1.75rem;
  padding-bottom: 0.875rem;
  -webkit-animation: change 4s ease infinite;
  animation: change 4s ease infinite;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .social h2 {
    font-size: 2.125rem;
    padding-bottom: 1.0625rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .social h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .social h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
.social p {
  font-size: 1.125rem;
  font-weight: 700;
  color: #787D80;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .social p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .social p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .social p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}

.clients h2 {
  /*background: linear-gradient(270deg, #9BD9F2 15.33%, #F0A5A4 101.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-weight: 800;
  background-size: 400% 400%;
  font-size: 1.75rem;
  padding-bottom: 0.875rem;
  -webkit-animation: change 4s ease infinite;
  animation: change 4s ease infinite;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .clients h2 {
    font-size: 2.125rem;
    padding-bottom: 1.0625rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .clients h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .clients h2 {
    font-size: 1.75rem;
    padding-bottom: 0.875rem;
  }
}
.clients p {
  font-size: 1.125rem;
  font-weight: 700;
  color: #787D80;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .clients p {
    font-size: 1.5rem;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .clients p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .clients p {
    font-size: 1.125rem;
    padding-bottom: 0.5625rem;
  }
}

body.dark .title h2 {
  background: linear-gradient(90deg, #FF76A8 0%, #4B2EFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}
body.dark .social h2 {
  background: linear-gradient(90deg, #FF76A8 0%, #4B2EFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}
body.dark .clients h2 {
  background: linear-gradient(90deg, #FF76A8 0%, #4B2EFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
}

.groupCards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0% 5%;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .gcards {
    gap: 75.855px;
    margin-bottom: 151.71px;
  }
}
@media (max-width: 1639px) and (orientation: landscape) {
  .gcards {
    gap: 65px;
    margin-bottom: 130px;
  }
}
@media (max-width: 1250px) and (orientation: landscape) {
  .gcards {
    gap: 52px;
    margin-bottom: 104px;
  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .gcards {
    gap: 52px;
    margin-bottom: 104px;
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .gcards {
    gap: 52px;
    margin-bottom: 104px;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  .gcards {
    gap: 52px;
    margin-bottom: 104px;
  }
}
.gcards .card {
  color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 18.525px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 48.75px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
  background: #ffffff;
  border-radius: 18.525px;
  width: 325px;
  height: 422.5px;
  box-shadow: 0px 0px 48.75px rgba(0, 0, 0, 0.25);
  padding: 1.25rem 1.25rem;
}
.gcards .card:hover {
  scale: 1.05;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .gcards .card {
    border-radius: 21.618675px;
    width: 379.275px;
    height: 493.0575px;
    box-shadow: 0px 0px 56.89125px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 1250px) and (orientation: landscape) {
  .gcards .card {
    border-radius: 14.82px;
    width: 260px;
    height: 338px;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .gcards .card {
    border-radius: 14.82px;
    width: 260px;
    height: 338px;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1200px) and (orientation: portrait) {
  .gcards .card {
    border-radius: 14.82px;
    width: 260px;
    height: 338px;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  .gcards .card {
    border-radius: 14.82px;
    width: 260px;
    height: 338px;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.25);
  }
}
.gcards .card img {
  width: 130px;
  height: 130px;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .gcards .card img {
    width: 151.71px;
    height: 151.71px;
  }
}
.gcards .card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .gcards .card h3 {
    font-size: 1.5rem;
  }
}
.gcards .card p {
  font-weight: 600;
  text-align: center;
  font-size: 0.875rem;
}
@media (min-width: 1640px) and (orientation: landscape) {
  .gcards .card p {
    font-size: 1rem;
  }
}

body.dark .card {
  background: #141B22;
}
body.dark .card h3 {
  color: #ffffff;
}
body.dark .card p {
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  font-family: "Nunito Sans", sans-serif;
}

/*body{
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 16.15%, #FEFEFE 28.45%), linear-gradient(44.76deg, #9BD9F2 52.34%, #FFD78A 117.16%);
    background-size: 100% 400vh;
    background-repeat: no-repeat;
}*/
body.dark {
  background-color: #090B0F;
}

.darkMode {
  display: none;
}

body.dark .sunMode {
  display: none;
}
body.dark .darkMode {
  display: inline;
}

@-webkit-keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=style.css.map */